<header class="header">

  <div class="topbar">

      <div class="logo">
        <a routerLink="/">Accueil</a>
      </div>

      <nav class="menu">
        <a href="http://www.initiative-paysdarles.com/contact.php" target="_blank" class="more" class="menu-item">Contact</a>
        <a routerLink="/login" class="menu-item menu-button">Réserver</a>
      </nav>

  </div>

  <div class="baseline">
    <span class="baseline-bienvenue">Bienvenue à </span> 
    <strong class="baseline-name">l'espace de coworking du site d'Arles </strong>
    <span class="baseline-slogan">un espace de travail partagé, mais aussi un réseau de travailleurs encourageant l'échange et l'ouverture.</span> 
  </div>

</header>