<footer class="footer" id="footer">

  <div class="container">

    <div class="footer-columns">

      <div class="footer-column">

        <div class="footer-title">CoWorkArles</div>
        <p>
          Vous pouvez nous contacter à l'aide des informations suivantes:
        </p>

      </div>
      <div class="footer-column">
        
        <div class="footer-title">Nos coordonnées</div>
        <p>
          Initiative Pays d'Arles<br>
          1, rue Copernic<br>
          13200 Arles<br>	
          Téléphone : +33 4 84 49 02 01
        </p>
      </div>
      <div class="footer-column">

        <div class="footer-title">Nous rejoindre</div>

        <div class="social-logo">

          <a href="http://facebook.com/flashissue" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/YdvNzBsfTrqg9Cx9Tozh_Facebook-e1386022800280.png" style="height:50px; width:50px" /> </a>&nbsp; &nbsp; &nbsp;
          <a href="http://linkedin.com" target="_blank"><img alt="" src="https://s3.amazonaws.com/flashissue/dJtLdIsbRAix3zQhvygP_linkedin_icon_dark_hover-5be7d72ca83a10c0c76c32d141b0b828.png" style="height:50px; width:50px" /> </a>
        
        </div>

      </div>
      <div class="footer-credits">
        <span>2018 COWORKARLES</span>, Tout droit réservé.
      </div>

    </div>

  </div>

</footer>
