<section class="home-section">

  <div class="container-small">
    
    <div class="container-small">

      <div class="block block-centered">

        <div class="block-body">

          <h2 class="title"><span>C'est quoi le coworking ?</span></h2>
          <p>
              Le <strong>coworking</strong> est un type d'organisation du travail qui regroupe deux notions : un espace de travail partagé, 
              mais aussi un réseau de travailleurs encourageant l'échange et l'ouverture.
          </p>

        </div>

      </div>
      <div class="block block-left">

        <div class="block-img">

          <img src="../assets/arles_logo.png" alt="">
            
        </div>
        
        <div class="block-body">

          <h2 class="title"><span>La ville d'Arles</span></h2>
            <p>
              Arles est une commune du département des Bouches-du-Rhône, en Provence-Alpes-Côte d'Azur. 
              Il s'agit de la plus grande commune de France métropolitaine avec quelque 75 893 hectares. 
              La ville est traversée par le Rhône et se trouve entre Nîmes (à 27 km à l’ouest) et Marseille (à 80 km à l’est).
            </p>
            <a href="https://www.ville-arles.fr/" target="_blank" class="more">En savoir plus</a>
        </div>

      </div>
      <div class="block block-left">

        <div class="block-img">
          <img src="../assets/initiative_logo.jpg" alt="">
        </div>

        <div class="block-body">
          <h2 class="title"><span>Initiative pays d'Arles</span></h2>
            <p>
              Membre du réseau national Initiative France, Initiative Pays d'Arles propose un dispositif d’accompagnement et de financement destiné aux 
              porteurs de projet souhaitant créer ou reprendre une entreprise en Pays d’Arles. 
              Une mission et des valeurs fortes au service des entrepreneurs du territoire.
            </p>
            <a href="http://www.initiative-paysdarles.com/" target="_blank" class="more">En savoir plus</a>
        </div>

      </div>
      <div class="block block-centered">

          <div class="block-body">
  
            <h2 class="title"><span>Que propose CoWorkArles ?</span></h2>
            <p>
                Le but de <strong>CoWorkArles</strong> est de proposer un lieu de travail agréable et favorisant le développement professionnel 
                des petites comme des grande équipes.
            </p>
  
          </div>
  
        </div>

    </div>

  </div>

</section>

<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.6204051948503!2d4.630895415229456!3d43.697654457573435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b5d8a7f49b7049%3A0x78a45b8815276191!2sInitiative+Pays+d&#39;Arles!5e0!3m2!1sfr!2sfr!4v1547478115521" width="600" height="450" frameborder="0"  allowfullscreen></iframe>
