<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <h1>Mon espace personnel</h1>

  <section class="wrapper">

      <div class="inner">

        <header class="special">

          <h2>Voici le bureau de mon espace personnel</h2>
          <p class="pspecial">
            Dans le bureau de mon espace personnel vous pourrez avoir accès à vos crédits, 
            au calendrier de réservation, ainsi qu'à l'annuaire.
          </p>

        </header>

        <div class="highlights">

          <section>

            <div class="content">
              
              <header>
                <h3>Porte Monnaie</h3>
              </header>

              <br><br>

              <p>0.00 crédit</p><br>

              <a routerLink="" class="menu-item menu-button">Ajouter des crédits</a>

            </div>

          </section>

          <section>
            <div class="content">

              <header>
                <h3>Le planning de réservation</h3>
              </header>

              <br>
              <p>
                Accédez à l'agenda en temps réel pour planifier vos réunions et heures de travail, 
                vous pouvez aussi consulter les évènements publics.
              </p>

              <a href="../../calendar/Accueil.php" target="_blank" class="more">Réserver</a>

            </div>
          </section>

          <section>
            <div class="content">

              <header>
                <h3>Annuaire</h3>
              </header>

              <br>
              <p>
                Grâce à l'annuaire, vous pourrez trouver les coordonnées des autres utilisateurs, comme les adresses email, ou encore
                les numéros de téléphone.
              </p>

              <a routerLink="/annuaire" class="more">Effectuer une recherche</a>

            </div>
          </section>

        </div>

      </div>

  </section>

</body>
</html>